$padding: 15px;
.navbar {
    &__container {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        margin: 0 auto;
        max-width: 300px;
        padding-top: $padding;
        padding-bottom: $padding;

        &__button {
            width: 21%;
            background-color: rgb(132, 171, 216);
            border-color: rgb(132, 171, 216);
            border-radius: 20%;
        }
    }
}
